@model IEnumerable<HR_Project.Models.JobRole>

@{
    ViewData["Title"] = "Index";
}

<h2>All Job Roles</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.DeptName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobId" class="btn btn-xs btn-warning">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.JobId" class="btn btn-xs btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
